{
    "plugins": [
        "jsdoc"
    ],
    "extends": [
        "plugin:jsdoc/recommended"
    ],
    "rules": {
        //...your configuration
        "overrides": 
        [
            //...your overrides
            {
                // Force the setting of a swagger description on each api endpoint
                "files": ["app/api/**/*.ts"],
                "plugins": ["jsdoc"],
                "rules": {
                    "jsdoc/no-missing-syntax": [
                    "error",
                        {
                            "contexts": [
                                            {
                                                "comment": "JsdocBlock:has(JsdocTag[tag=swagger])",
                                                "context": "any",
                                                "message": "@swagger documentation is required on each API. Check this out for syntax info: https://github.com/jellydn/next-swagger-doc"
                                            }
                            ]
                        }
                    ]
                }
            }
        ]
    }
}